ENVIRONMENT=production
STATE_DATABASE_PATH=/var/lib/codestra/provisioning.db
JWT_ISSUER=https://auth.codestra.co/realms/codestra
JWT_JWKS_URL=https://auth.codestra.co/realms/codestra/protocol/openid-connect/certs
JWT_AUDIENCE=codestra-provisioning-service
JWT_EXPECTED_AZP=REQUIRED_PRODUCTION_CLIENT_ID
JWT_ALLOWED_CLIENTS=REQUIRED_PRODUCTION_CLIENT_ID
JWT_REQUIRED_SCOPES=identity:rotate provisioning:execute provisioning:read
JWT_MAX_TOKEN_TTL_SECONDS=300
JWT_ALGORITHMS=RS256
READINESS_TIMEOUT_SECONDS=3
READINESS_CACHE_SECONDS=15
SIP_BROWSER_CAMPAIGN=TEST_SYN
SIP_BROWSER_ENDPOINT=6101
